<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>django表单处理</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div id="container">
		<div class="wrap">
			<form action={% url 'go_form' %} method="post" novalidate="novalidate">
			    {% csrf_token %}
				用户名:&nbsp<input type="text" name='name' value="{{ my_message.name }}">
				<br/>
				留言:&nbsp&nbsp&nbsp&nbsp<input type="text" name='message'value="{{ my_message.message }}" style="width:200px;height:400px;">
				<br/>
				<button type="submit">
					提交
				</button>
				{% comment %} <input class="btn btn-success" type="submit" value="留言"/> {% endcomment %}
			</form>
		</div>
	</div>
</body>
</html>